In [89]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse_drug_data_to_load = "data/mouse_drug_data.csv"
clinical_trial_data_to_load = "data/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
ReadMouse = pd.read_csv(mouse_drug_data_to_load)
ReadClin =pd.read_csv(clinical_trial_data_to_load)

# Combine the data into a single dataset
CombData = pd.merge(ReadClin, ReadMouse, how="left", on=["Mouse ID", "Mouse ID"])

# Display the data table for preview
CombData.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0                45.0                 0  Capomulin
1     f932          0                45.0                 0   Ketapril
2     g107          0                45.0                 0   Ketapril
3     a457          0                45.0                 0   Ketapril
4     c819          0                45.0                 0   Ketapril

## Tumor Response to Treatment

In [90]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
TumorVolume = pd.DataFrame(CombData.groupby(['Drug', 'Timepoint']).mean()['Tumor Volume (mm3)'])
                                
# Convert to DataFrame

# Preview DataFrame
TumorVolume.head()

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                   45.000000
          5                   44.266086
          10                  43.084291
          15                  42.064317
          20                  40.716325

In [91]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
STDTumors = pd.DataFrame(CombData.groupby(["Drug", "Timepoint"]).sem()["Tumor Volume (mm3)"])

# Convert to DataFrame

# Preview DataFrame
STDTumors.head()

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                    0.000000
          5                    0.448593
          10                   0.702684
          15                   0.838617
          20                   0.909731

In [95]:
STDTumors[STDTumors.Timepoint==0]

    index       Drug  Timepoint  Tumor Volume (mm3)
0       0  Capomulin          0                 0.0
10     10   Ceftamin          0                 0.0
20     20  Infubinol          0                 0.0
30     30   Ketapril          0                 0.0
40     40   Naftisol          0                 0.0
50     50    Placebo          0                 0.0
60     60   Propriva          0                 0.0
70     70   Ramicane          0                 0.0
80     80   Stelasyn          0                 0.0
90     90  Zoniferol          0                 0.0

In [94]:
# Minor Data Munging to Re-Format the Data Frames
STDTumors = STDTumors.reset_index()
STDClean = STDTumors.pivot(index = "Timepoint", columns = "Drug")["Tumor Volume (mm3)"]
# Preview that Reformatting worked
STDClean.head()

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.448593,0.164505,0.235102,0.264819,0.202385,0.218091,0.231708,0.482955,0.239862,0.188950
10,0.702684,0.236144,0.282346,0.357421,0.319415,0.402064,0.376195,0.720225,0.433678,0.263949
15,0.838617,0.332053,0.357705,0.580268,0.444378,0.614461,0.466109,0.770432,0.493261,0.370544
20,0.909731,0.359482,0.476210,0.726484,0.595260,0.839609,0.555181,0.786199,0.621889,0.533182

In [93]:

STDClean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 45
Data columns (total 10 columns):
Capomulin    10 non-null float64
Ceftamin     10 non-null float64
Infubinol    10 non-null float64
Ketapril     10 non-null float64
Naftisol     10 non-null float64
Placebo      10 non-null float64
Propriva     10 non-null float64
Ramicane     10 non-null float64
Stelasyn     10 non-null float64
Zoniferol    10 non-null float64
dtypes: float64(10)
memory usage: 880.0 bytes

In [73]:
# Generate the Plot (with Error Bars)
STDPlot = plt.bar(data = STDClean)
# Save the Figure

TypeError: bar() missing 2 required positional arguments: 'x' and 'height'

In [56]:
# Show the Figure
plt.show()

## Metastatic Response to Treatment

In [ ]:
# Store the Mean Met. Site Data Grouped by Drug and Timepoint 

# Convert to DataFrame

# Preview DataFrame

In [ ]:
# Store the Standard Error associated with Met. Sites Grouped by Drug and Timepoint 

# Convert to DataFrame

# Preview DataFrame

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

In [ ]:
# Generate the Plot (with Error Bars)

# Save the Figure

# Show the Figure

## Survival Rates

In [ ]:
# Store the Count of Mice Grouped by Drug and Timepoint (W can pass any metric)

# Convert to DataFrame

# Preview DataFrame

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview the Data Frame

In [ ]:
# Generate the Plot (Accounting for percentages)

# Save the Figure

# Show the Figure
plt.show()

## Summary Bar Graph

In [ ]:
# Calculate the percent changes for each drug

# Display the data to confirm

In [ ]:
# Store all Relevant Percent Changes into a Tuple


# Splice the data between passing and failing drugs


# Orient widths. Add labels, tick marks, etc. 


# Use functions to label the percentages of changes


# Call functions to implement the function calls


# Save the Figure


# Show the Figure
fig.show()